<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPARKS BANK</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <style>
    .flex-container {
      display: flex;
      flex-direction: row;
      line-height: 75px;
    }

    .flex-container>div {

      margin: 30px;
    }

    .contain {
      margin: 30px;
    }

    body{
      font-family: "Roboto Slab";
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SPARKS BANK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">About</a>
          <a class="nav-link" href="/customer">Customers</a>
          <a class="nav-link" href="/transfer">Transfer Money</a>
          <a class="nav-link" href="/history">Transaction History</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.at-mia.my/wp-content/uploads/2020/05/iStock-1202705835-756x425.jpg" class="d-block w-100" height="800px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://st2.depositphotos.com/1062085/7969/v/600/depositphotos_79691248-stock-illustration-banking-transaction-line-style.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2018/10/08130951/RemoteBank.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="flex-container">
    <div>
      <img
        src="https://thumbs.dreamstime.com/b/bank-debt-money-loans-credit-payments-crisis-economy-flat-vector-illustration-sad-businessman-bankruptcy-finance-bank-192142108.jpg"
        height="370px" width="700px">
    </div>
    <div></div>
    <div>
      <br>
      <h4 class="contain">ABOUT</h4>
      <P class="contain">SPARKS BANK IS A TRUSTWORTHY BANK WHERE EVERYTHING IS MANAGED SMOOTHLY AND EFFICIENTLY.</P>
    </div>

  </div>

  <div class="flex-container">
    <div class="contain">
      <br>
      <p class="contain">ALL ACCOUNTS ARE MANAGED EFFICIENTLY.</p>
      <p class="contain">LOANS GET APPROVED IN A SHORT PERIOD OF TIME.</p>
      <p class="contain">CARDS ENABLE YOU TO TRANSFER MONEY WITH EASE.</p>

    </div>
    <div>
      <img
        src="https://img.freepik.com/free-vector/bank-customer-getting-loan-man-wheeling-cart-with-cash-flat-vector-illustration-finance-money-banking-service_74855-8233.jpg?size=626&ext=jpg">
    </div>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>